body{
    background-color:hsl(0, 0%, 8%) ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: "Outfit", sans-serif;
}

.container {
    margin-top: 100px;
    background-color: hsl(0, 0%, 12%) ;
    width: 27%;
    display: grid;
    justify-items: center;
    border-radius: 10px;
}
img {
    border-radius: 100px;
    width: 80px;
    padding: 30px;
}
.bold{
    font-weight: 500;
    color: white;
    padding-bottom: 6px;
    font-size: 21px;
}
.green {
    font-weight: bold;
    color: hsl(75, 94%, 57%);
    font-size: 12px;
}
p {
    color: white;
    font-size: 13px;
    font-weight:500;
}
.soc {
    background-color:hsl(0, 0%, 20%) ;
    margin: 7px;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.soc-e {
    background-color:hsl(0, 0%, 20%) ;
    margin: 7px;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 15px;
}
.attribution{
    margin: 50px;
    color: white;
}