*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
:root {
    --main-color: #3498db;
    --secondary-color: #2ecc71;
}
.container{
    margin: 10px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 50px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
header .image img {
    width: 130px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    padding: 10px;
    margin: 0 10px;
    transition: 0.7s ease-in-out;
    font-weight: bold;
}
header ul li:hover{
    color: var(--main-color);
    cursor: pointer;
}
header button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
header .signup{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}
header .login{
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}
.login:hover{
    background-color: #27ae60;
}
.signup:hover{
    background-color: #2980b9;
}
header .buttons{
    display: flex;
    gap: 20px;
}
.header-container{
    position: relative;
}
.min-header{
    margin: 150px 0 0 100px;
    display: flex;
    justify-content: space-between;
}
.header-container .courses{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:100px ;
}
.header-container .courses img{
    width: 750px;
    border-radius: 50px;
}
.header-container .right{
    flex: 1;
    background: linear-gradient(to bottom, #3498db61, #2ecc705a);
    border-radius:0  50px 50px 0;
    margin: 150px 0 0 0;
    height: 500px;
    width: 110px;
    position: absolute;
    top: -185px;
    right: 50px;
    z-index: -1;
}
.header-container .num-stu{
    position: absolute;
    top: 260px;
    right: 80px;
    background-color: white;
    padding: 20px;
    width: 160px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.num-stu h3 {
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);

}
.num-stu p {
    margin: 5px 0 0;
    font-size: 14px;
    color: var(--main-color);
}
.num-stu i {
    color: var(--main-color);
    background-color: #297fb927;
    border-radius: 50%;
    font-size: 30px;
}
.instructors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    position: absolute;
    top: -50px;
    right: 700px;
}
.instructors img {
    width: 60px;
    border: 3px solid white;
    height: 50px;
    border-radius: 50%;
    margin: 0 -15px;
}
.instructors p{
    margin: 10px 0 0;
    font-size: 26px;
    font-weight: 600;
}
.instructors span {
    color: var(--main-color);
}

.paragraph{
    width: 600px;
    padding: 20px;
    font-size: 32px;
    border-radius: 20px 0 0 20px;
}
.paragraph span {
    color: var(--main-color);
    font-weight: bold;
}
.paragraph button {
    background-color: var(--main-color);
    border: none;
    padding: 25px 50px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    font-size: 24px;
}
.paragraph button:hover {
    background-color: #297fb9bd;
}





/*Responsive styles*/
@media (max-width:1680px ){
    header {
        padding: 8px 35px;
    }
    .header-container .courses img {
        width: 550px;
    }
    .header-container .instructors {
        top: -85px;
        right: 500px;
        padding: 10px ;
    }
    .paragraph {
        width: 500px;
        font-size: 26px;
    }
}
@media (max-width:1380px ){
    .header-container .courses img {
        width: 450px;
    }
    .header-container .instructors {
        right: 400px;
        top: -80px;
        padding: 20px ;
        width: 250px;
    }
    .header-container .right {
        height: 350px;
        width: 90px;
        top: -160px;
        right: 60px;
    }
    .paragraph {
        width: 400px;
        font-size: 22px;
    }
    .paragraph button {
        padding: 25px 45px;
        font-size: 20px;
    }
    .instructors img {
        width: 50px;
        height: 40px;
        margin: 0 -12px;
    }
    .instructors p{
        margin: 10px 0 0;
        font-size: 22px;
    }
    .header-container .num-stu {
        top: 200px;
        right: 80px;
        width: 160px;
        padding: 10px;
    }
}
@media (max-width:1220px ){
    .header-container .courses img {
        width: 400px;
    }
    .header-container .instructors {
        right: 350px;
        top: -90px;
        width: 230px;
    }
    .header-container .right {
        height: 350px;
        width: 90px;
        top: -160px;
        right: 60px;
    }
    .paragraph {
        width: 400px;
        font-size: 20px;
    }
    .paragraph button {
        padding: 20px 40px;
        font-size: 20px;
    }
    .instructors img {
        width: 50px;
        height: 40px;
        margin: 0 -12px;
    }
    .instructors p{
        margin: 10px 0 0;
        font-size: 22px;
    }
    .header-container .num-stu {
        top: 180px;
        right: 75px;
        width: 160px;
        padding: 10px;
    }
}