@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    background-color: white;
    padding : 55px 50px ;
}
header img {
    margin-top: 10px;
}
header{
    display: flex;
    justify-content: space-between;
}
.try {
    color: hsl(321, 100%, 78%) ;
    width: 120px;
    margin-top: 20px;
    border-radius: 18px;
    border: 2px solid hsl(321, 100%, 78%);
    font-weight: 600;
    font-size: 15px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div i{
    font-size: 40px;
    color:hsl(321, 100%, 78%) ;
}
h1 {
    margin: 150px 0 20px 0 ;
    font-family:"Poppins", sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
p {
    text-align: center;
    font-size: 17px;
}
.a1header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.started{
    background-color: hsl(322, 100%, 66%) ;
    color: white;
    width: 340px;
    padding: 35px 0;
    margin: 35px 0 90px 0;
    border-radius: 60px;
    font-weight: 600;
    font-size: 17px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a2header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a2header img{
    width:80%;
}
.a3header{
    display: flex;
    justify-content: center;
}
.a3header div{
    display: inline-block;
    margin: 40px  0 0 0 ;
}
.a3header .image1 ,
 .image2{
    width: 100%;
}

.a3header .image1 img{
    width: 30px;
}
.a3header .image2 img{
    width: 25px;
}
.a3header span
{
    font-weight: bold;
    font-size: 80px;
}
.a3header .center{
    width : 250px ;
}
.a4header  img{
    width: 100%;
} 
.a4header .imag2 img{
    width: 70%;

} 
.a4header .imag2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;

} 
.a4header div {
 display: inline-block;
}

.a4header .grow {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246 251 255);
    margin-top: -7px;
}
.a4header span {
    display: flex;
    font-weight: 800;
    font-size: 33px;
    margin: 170px 0px 20px 90px;
}
.a4header p {
    font-weight: 400;
    font-size: 13px;
    margin-left: 90px;
}
.a5header div img {
    width: 70%;
    margin: 150px 0px 30px 120px  ;
}
.a5header div {
    display: inline-block;
   }
   .a5header .flow {
    display: flex;
}
.a5header .par span {
    display: flex;
    font-weight: 800;
    font-size: 30px;
    margin-top: 270px;
    margin-bottom: 20px;
    width: 400px;
}
.a5header .par{
    margin-right: 140px;
}
.a5header .par p {
    font-size: 12px;
}